{% extends "main/layout.html" %}

{% block title %}
    submit form
{% endblock title %}

{% block body %}
    <div class=form_cont>
        <div  class='form'>
            <h2>Book Details</h2>
            <form action="{% url 'books:upload' %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form }}
                <button>save</button>
            </form>
        </div>
        <form action="" method="post"></form>
    </div>
{% endblock body %} 